@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');

.playwrite {
    font-family: "Playwrite+NL", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}